[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
flask-sqlalchemy = "*"
flask-migrate = "*"

[dev-packages]
nose = "*"
pylint = "*"
flask-testing = "*"

[requires]
python_version = "3.8"
